body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.input {
  border-radius: 10px;
  padding: 5px 5px;
  border-color: rgb(245, 17, 17);
}

.input:focus {
  border-color: rgb(17, 59, 245);
  outline: none !important;
}

.button {
  padding: 5px 5px;
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
}

.button:active {
  background-color: cornflowerblue;
}

#toggle {
  overflow: hidden;
}

.err {
  padding-left: 10px;
}